.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.navbar-logo img {
  width: 200px;
  height: 42px;
}

.sign-in-button {
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.newrole{
  font-size: 24px;
  margin:14px
}
.user-pic{
  height: 40px;
  width: 40px;
  border-radius: 28px;
}
.dropdown-item
{
  cursor: pointer;
}
