<app-navbar></app-navbar>
<div class="conatiner text-center body-color navbar">
  <div class="card m-auto">
    <div class="card-body">
      <h2 class="card-title mb-4">Login</h2>
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
      <button type="button" class="CustomsLogin-btn" (click)="login()">Login</button>
    </div>
  </div>
</div>
