.mat-mdc-card-header {
  display: grid;
  padding: 16px 16px 16px 16px;
  text-align: center;
}
.navbar{
      justify-content: center;
}
.mat-mdc-card
{
  box-shadow: none;
}
.mat-mdc-raised-button:not(:disabled){
    text-align: center;
    background: #a72037;
    color: #ffffff;
}
.mdc-card__actions{
  display: inline-grid;
}
