<header>
  <!-- <h3 class="title">Login & Registration Form</h3> -->
</header>
<div class="container">
  <div class="slider" [ngClass]="{'moveslider': isSignup, '': !isSignup}"></div>
  <div class="btn">
      <button class="login" (click)="switchForm(false)">Login</button>
      <button class="signup" (click)="switchForm(true)">Signup</button>
  </div>
  <div class="form-section" [ngClass]="{'form-section-move': isSignup, '': !isSignup}">
      <div class="login-box">
          <input type="username" class="username ele" [(ngModel)]="username" placeholder="Username">
          <input type="password" class="password ele" [(ngModel)]="password" placeholder="password">
          <button class="clkbtn" (click)="login()">Login</button>
      </div>
      <div class="signup-box">
          <input type="text" class="name ele" placeholder="Enter your name">
          <input type="email" class="email ele" placeholder="youremail@email.com">
          <input type="password" class="password ele" placeholder="password">
          <input type="password" class="password ele" placeholder="Confirm password">
          <button class="clkbtn">Signup</button>
      </div>
  </div>
</div>
