<section class="main-content hero-section">
  <div class="container">
      <h1 class="text-center text-uppercase">Menu</h1>
      <div class="row main-menu">
          <div class="col-sm-6 col-md-6 col-lg-6" *ngFor="let menu of menuData">
              <div class="food-card food-card--vertical">
                  <div class="food-card_img">
                    <img [src]="menu.img" alt="">
                    <a href="#!"><i class="far fa-heart"></i></a>
                  </div>
                  <div class="food-card_content">
                      <div class="food-card_title-section">
                          <a href="#!" class="food-card_title">{{ menu.title }}</a>
                          <a href="#!" class="food-card_author">{{ menu.item }}</a>
                      </div>
                      <div class="food-card_bottom-section">
                          <div class="space-between">
                              <div>
                                  <span class="fa fa-fire"></span> {{ menu.description }} {{ menu.calories }}
                              </div>
                              <div class="pull-right">
                                  <span class="badge badge-success">{{ menu.type }}</span>
                              </div>
                          </div>
                          <hr>
                          <div class="space-between">
                              <div class="food-card_price">
                                  <span>{{ menu.price }}</span>
                              </div>
                              <div class="food-card_order-count">
                                  <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                          <button class="btn btn-outline-secondary minus-btn" type="button" id="button-addon1"><i class="fa fa-minus"></i></button>
                                      </div>
                                      <input type="text" class="form-control input-manulator" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" value="0">
                                      <div class="input-group-append">
                                          <button class="btn btn-outline-secondary add-btn" type="button" id="button-addon1"><i class="fa fa-plus"></i></button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
