.contact-label {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  width: 100%;
  padding: 8px;
  display: flex;
}

.error-message {
  color:#A72037;
}

.button {
  border-radius: 22px;
  background: #A72037;
  color: #ffffff !important;
  cursor: pointer;
  border: 0px solid;
  width: 88px;
  height: 35px;
  font-weight: 400;
  text-align: center;
  font-size: 18px;
}

.Add-emplyee-deatils {
  color:#A72037;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.close
{
  cursor: pointer;
}
.form-field {
  width: 400px;
}
