.contact-label {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  width: 100%;
  padding: 8px;
  display: flex;
}

.error-message {
  color: red;
}

.button {
  border-radius: 22px;
  background: #A72037;
  color: #ffffff !important;
  cursor: pointer;
  border: 0px solid;
  width: 66px;
  height: 35px;
  font-weight: 400;
  text-align: center;
}

.Add-emplyee-deatils {
  color: red;
}
