<div class="candiate p-4">
  <div class="text-end close" (click)="close()">
    <mat-icon>close</mat-icon>
  </div>
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <p class="Add-emplyee-deatils">{{isEditForm == false ? 'Add Employee Details' : 'Edit Employee Details'}}</p>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Title </mat-label>
          <input type="text" matInput placeholder="Enter your Title" formControlName="Title">
          <mat-error *ngIf="employeeForm?.get('Title')?.hasError('required')">
            Title is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Item </mat-label>
          <input type="Item" matInput placeholder="Enter your Item" formControlName="Item">

          <mat-error *ngIf="employeeForm?.get('Item')?.hasError('required')">
            Item is required
          </mat-error>
          <mat-error *ngIf="employeeForm?.get('Item')?.hasError('pattern')">
            Enter a valid Item
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Price </mat-label>
          <input type="Price" matInput placeholder="Enter your Price" formControlName="Price">
          <mat-error *ngIf="employeeForm?.get('Price')?.hasError('required')">
            Price is required
          </mat-error>
          <mat-error *ngIf="employeeForm?.get('Price')?.hasError('pattern')">
            Enter a valid Price
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Description </mat-label>
          <input matInput formControlName="Description">
          <mat-error *ngIf="employeeForm?.get('Description')?.hasError('required')">
            Description is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Calories</mat-label>
          <input matInput formControlName="Calories">
          <mat-error *ngIf="employeeForm?.get('Calories')?.hasError('required')">
            Calories is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Type-veg/Non-veg </mat-label>
          <input type="text" matInput placeholder="Enter your number" formControlName="Type">
          <mat-error *ngIf="employeeForm?.get('Type')?.hasError('required')">
            Type required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Profile Image</label>
        <input type="file" (change)="onFileSelected($event)" accept="image/*" formControlName="fileInputControl">
        <img *ngIf="imageUrl" [src]="imageUrl" alt="Preview" class="image-preview">
      </div>
    </div>
    <button class="submit-btn mt-4 button" type="submit">{{isEditForm == false ? 'Create' : 'Update'}}</button>
  </form>
</div>
