<div class="container">
  <div class="row">
    <div class="col-12 ">
      <div class="message-box">
      <div class="success-container">
        <br>
        <img src="../../assets//images/success.png" alt="" style="height: 100px;">
        <br>
        <div style="padding-left: 5%; padding-right: 5%">
        <hr>
        </div>
        <br>
        <h1 class="monserrat-font" style="color: Grey">Thank you for your order</h1>
        <br>
          <div class="confirm-green-box">
            <br>
            <h5>ORDER CONFIRMATION</h5>
            <p>Your order #2465 has been successful!</p>
            <p>Thank you for choosing <span class="Coffee">Coffee</span>. You will shortly receive Your Order.</p>
          </div>
        <br>
         <button id="create-btn" class="btn btn-ouioui-secondary margin-left-5px" (click)="orders()">&leftarrow; Back to Order</button>
      </div>
        </div>
    </div>
  </div>
</div>
