table {
  width: 100%;
}

.button {
  border-radius: 22px;
  background: #A72037;
  color: #ffffff !important;
  cursor: pointer;
  border: 0px solid;
  width: 66px;
  height: 35px;
  font-weight: 400;
  text-align: center;
}
