<app-navbar></app-navbar>
<div class="container">
  <div class="row mt-5" *ngIf="userRole=='admin'">
    <div class="col">
      <div class="button">
        <button mat-button (click)="openDialog()">ADD</button>
      </div>
    </div>
    <div class="col">
      <input class="input-fliter mt-4" matInput (input)="applyFilter($event)" placeholder="Filter">
    </div>
  </div>
  <div class="container mt-5">
    <table mat-table [dataSource]="details" class="mat-elevation-z8">
      <ng-container matColumnDef="S.NO">
        <th mat-header-cell *matHeaderCellDef> S.NO </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{i}} </td>
      </ng-container>

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
      </ng-container>

      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
      </ng-container>

      <ng-container matColumnDef="Mobile">
        <th mat-header-cell *matHeaderCellDef> Mobile </th>
        <td mat-cell *matCellDef="let element"> {{element.Mobile}} </td>
      </ng-container>
      <ng-container matColumnDef="EmployeeActivateDate">
        <th mat-header-cell *matHeaderCellDef> Active-date </th>
        <td mat-cell *matCellDef="let element"> {{element.EmployeeActivateDate}} </td>
      </ng-container>
      <ng-container matColumnDef="EmployeeDOB">
        <th mat-header-cell *matHeaderCellDef> Dob </th>
        <td mat-cell *matCellDef="let element"> {{element.EmployeeDOB}} </td>
      </ng-container>
      <ng-container matColumnDef="TaskId">
        <th mat-header-cell *matHeaderCellDef> Task-Id </th>
        <td mat-cell *matCellDef="let element"> {{element.TaskId}} </td>
      </ng-container>
      <ng-container matColumnDef="TaskStartDate">
        <th mat-header-cell *matHeaderCellDef> T-Start-Date </th>
        <td mat-cell *matCellDef="let element"> {{element.TaskStartDate}} </td>
      </ng-container>
      <ng-container matColumnDef="TaskEndDate">
        <th mat-header-cell *matHeaderCellDef> T-End-Date</th>
        <td mat-cell *matCellDef="let element"> {{element.TaskEndDate}} </td>
      </ng-container>

      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef> View</th>
        <td mat-cell *matCellDef="let row;"> <button mat-icon-button (click)="viewEmployee(row)">
            <mat-icon>remove_red_eye</mat-icon>
          </button> </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit</th>
        <td mat-cell *matCellDef="let row;"> <button mat-icon-button (click)="editEmployee(row)">
            <mat-icon>edit</mat-icon>
          </button> </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete</th>
        <td mat-cell *matCellDef="let row;"> <button mat-icon-button (click) ="deleteEmployee(row)">
            <mat-icon>delete</mat-icon>
          </button> </td>
      </ng-container>




      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>
