.people-bg{
  display:table;
  width:28%;
  height:200px;
}

.people-text{
  vertical-align: middle;
  display: table-cell;
  text-align: center;

}
.ptg-welcom{
  font-weight: 500;
  font-size: 22px;
}
.ptg-dashboard{
  height: 90vh;
}
.ptg-log-button{
  border-color:  #a72037;
}
