<div class="container p-4">
  <div class="text-end close" (click)="close()"> <mat-icon>close</mat-icon></div>
  <div class="panel-body inf-content">
      <div class="row">
          <div class="col-md-4">
            <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip"
            src="{{employeeData.fileInputControl}}"
            data-original-title="Information">
          </div>
          <div class="col-md-8">
              <strong class="inf-title">Information</strong><br>
              <div class="table-responsive">
              <table class="table table-user-information">
                  <tbody>
                      <tr>
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                  Title:
                              </strong>
                          </td>
                          <td class="text-primary">
                            {{employeeData.Title}}
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-user  text-primary"></span>
                                  Item:
                              </strong>
                          </td>
                          <td class="text-primary">
                            {{employeeData.Item}}
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-cloud text-primary"></span>
                                  Price:
                              </strong>
                          </td>
                          <td class="text-primary">
                            {{employeeData.Price}}
                          </td>
                      </tr>

                      <tr>
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-bookmark text-primary"></span>
                                  Description:
                              </strong>
                          </td>
                          <td class="text-primary">
                            {{employeeData.Description}}
                          </td>
                      </tr>


                      <tr>
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                  Calories:
                              </strong>
                          </td>
                          <td class="text-primary">
                            {{employeeData.Calories}}
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-envelope text-primary"></span>
                                  Type:
                              </strong>
                          </td>
                          <td class="text-primary">
                            {{employeeData.Type}}
                          </td>
                      </tr>
                  </tbody>
              </table>
              </div>
          </div>
      </div>
  </div>
  </div>
