<div>
  <h2 class="employ">Employee Details</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p>ID:{{employeeData.Id}}</p>
      </div>
      <div class="col-md-4">
        <p>Name:{{employeeData.Name}}</p>
      </div>
      <div class="col-md-4">
        <p>Email:{{employeeData.Email}}</p>
      </div>
      <div class="col-md-4">
        <p>Mobile:{{employeeData.Mobile}}</p>
      </div>
      <div class="col-md-4">
        <p>EmployeeActivateDate:{{employeeData.EmployeeActivateDate}}</p>
      </div>
      <div class="col-md-4">
        <p>EmployeeDOB:{{employeeData.EmployeeDOB}}</p>
      </div>
      <div class="col-md-4">
        <p>TaskId:{{employeeData.TaskId}}</p>
      </div>
      <div class="col-md-4">
        <p>TaskStartDate:{{employeeData.TaskStartDate}}</p>
      </div>
      <div class="col-md-4">
        <p>TaskEndDate:{{employeeData.TaskEndDate}}</p>
      </div>
    </div>
  </div>
</div>
