<div class="container mt-4">
  <div class="panel-body inf-content">
      <div class="row">
          <div class="col-md-4">
              <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src="https://bootdey.com/img/Content/avatar/avatar7.png" data-original-title="Information">
          </div>
          <div class="col-md-8">
              <strong class="inf-title">Information</strong><br>
              <div class="table-responsive">
              <table class="table table-user-information">
                  <tbody>
                      <tr>
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                  Name:
                              </strong>
                          </td>
                          <td class="text-primary">
                            {{employeeData.Name}}
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-user  text-primary"></span>
                                  Email:
                              </strong>
                          </td>
                          <td class="text-primary">
                            {{employeeData.Email}}
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-cloud text-primary"></span>
                                  Mobile:
                              </strong>
                          </td>
                          <td class="text-primary">
                            {{employeeData.Mobile}}
                          </td>
                      </tr>

                      <tr>
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-bookmark text-primary"></span>
                                  EmployeeActivateDate:
                              </strong>
                          </td>
                          <td class="text-primary">
                            {{employeeData.EmployeeActivateDate}}
                          </td>
                      </tr>


                      <tr>
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                  EmployeeDOB:
                              </strong>
                          </td>
                          <td class="text-primary">
                            {{employeeData.EmployeeDOB}}
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-envelope text-primary"></span>
                                  TaskId:
                              </strong>
                          </td>
                          <td class="text-primary">
                            {{employeeData.TaskId}}
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                                  TaskStartDate:
                              </strong>
                          </td>
                          <td class="text-primary">
                            {{employeeData.TaskStartDate}}
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <strong>
                                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                                  TaskEndDate:
                              </strong>
                          </td>
                          <td class="text-primary">
                            {{employeeData.TaskEndDate}}
                          </td>
                      </tr>
                  </tbody>
              </table>
              </div>
          </div>
      </div>
  </div>
  </div>
